<p>102 Shoes is simple.  Send me a sweet pair of kicks and I'll write a short review which will include a shout out to you (the provider) and a link to your website.  I get the shoes, you get the exposure.  Anyone or any company who wants participate may.  Custom shoe designers are especially welcome.</p>

<p>If you're interested in contributing, <a href="mailto:%72ya%6ejfer%72i&#101%72%40%67ma&#105l.&#099%6f&#109">click here</a> and let me know via email.</p>